# Backend Environment Variables
NODE_ENV=development
PORT=3000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_ENDPOINT=http://localhost:4566
S3_BUCKET_NAME=drive-bucket
